<md-sidenav class="realm-app__sidebar index-sidebar md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="false"> 
</md-sidenav>

<div class="realm-app__content index-view" layout="vertical" flex>
	<md-toolbar class="index-view__toolbar md-whiteframe-z1">
	    <div class="index-view__brand-banner">
	    </div>
	</md-toolbar>

	<md-content class="index-view__content" layout="vertical" flex>
		<section class="index-view__container md-whiteframe-z1 cbt" layout="vertical">
			<md-tabs class="index-view__tabs" selected="vm.selectedIndex">
				<md-tab class="index-view__tab" id="tab1" aria-controls="tab1-content" ui-sref="index.login">
					Login
				</md-tab>
				<md-tab class="index-view__tab" id="tab2" aria-controls="tab2-content" ui-sref="index.signup">
					Sign Up
				</md-tab>
			</md-tabs>
			<div ui-view class="index-view__ui-view" flex>

			</div>
		</section>
	</md-content>	
</div>

