<!--SIDENAV-->
<md-sidenav tabindex="-1" class="realm-app__sidenav student-sidenav md-toolbar md-sidenav-left md-whiteframe-z2 cbt ng-scope ng-isolate-scope" component-id="left" is-locked-open="false">
    
    <!--SIDEBAR PROFILE-->      
	<md-content class="realm-app__sidenav__toolbar md-tall md-deep-purple-theme cbt md-default-theme">
	    <!--AVATAR-->
		<div class="realm-app__sidenav__toolbar__avatar-container ">
			<i class="realm-app__sidenav__toolbar__avatar mdi mdi-account-circle cbt"></i>
		</div>
		<!--EMAIL-->
		<span class="realm-app__sidenav__toolbar__email">jasokant@gmail.com</span>
	</md-content>
    
    <!--SIDEBAR LINKS-->
	<md-content class="realm-app__sidenav__content md-whiteframe-z1 md-default-theme" layout="vertical">
        
        <!--SESSIONS-->
        <md-button tabindex="-1" class="realm-app__sidenav__content__item md-default-theme" ui-sref="index.login">
            <button class="md-button-inner">
                <md-item-content>
                    <div class="md-tile-left">
                        <i class="mdi mdi-schedule"></i>
                    </div>
                    <div class="md-tile-content cbt">
                        <span class="md-tile-content__text cbt">Sessions</span>
                    </div>
                </md-item-content>
            </button>
        </md-button>
        
        <md-divider class="md-default-theme"></md-divider>
        
        <!--COURSES-->
        <md-button tabindex="-1" class="realm-app__sidenav__content__item md-default-theme" ui-sref="student.sessions">
            <button class="md-button-inner">
                <md-item-content>
                    <div class="md-tile-left">
                        <i class="mdi mdi-school"></i>
                    </div>
                    <div class="md-tile-content cbt">
                        <span class="md-tile-content__text cbt">Courses</span>
                    </div>
                </md-item-content>
            </button>
        </md-button>

        <md-divider class="md-default-theme"></md-divider>
        
        <!--PROFILE-->
        <md-button tabindex="-1" class="realm-app__sidenav__content__item md-default-theme" ui-sref="student.sessions">
            <button class="md-button-inner">
                <md-item-content>
                    <div class="md-tile-left">
                        <i class="mdi mdi-account-box"></i>
                    </div>
                    <div class="md-tile-content cbt">
                        <span class="md-tile-content__text cbt">Profile</span>
                    </div>
                </md-item-content>
            </button>
        </md-button>

        <md-divider class="md-default-theme"></md-divider>
        
        <!--SCHEDULE-->
    	<md-button tabindex="-1" class="realm-app__sidenav__content__item md-default-theme" ui-sref="student.sessions">
            <button class="md-button-inner">
                <md-item-content>
                    <div class="md-tile-left">
                        <i class="mdi mdi-event"></i>
                    </div>
                    <div class="md-tile-content cbt">
                        <span class="md-tile-content__text cbt">Schedule</span>
                    </div>
                </md-item-content>
		    </button>
        </md-button>

    	<md-divider class="md-default-theme"></md-divider>
        
        <!--NOTIFICATIONS-->
        <md-button tabindex="-1" class="realm-app__sidenav__content__item notifications-button md-default-theme" ui-sref="student.sessions">                   <button class="md-button-inner">
                <md-item-content class="md-item">
                    <div class="md-tile-left">
                        <i class="mdi mdi-question-answer"></i>
                    </div>
                    <div class="md-tile-content">
                        <span class="md-tile-content__text cbt">Notifications</span>
                        <span class="notifications-badge cbt md-whiteframe-z1">1
                        </span>
                    </div>
                </md-item-content>
            </button>
        </md-button>

        <md-divider class="md-default-theme"></md-divider>
        
	</md-content>
</md-sidenav>

<md-content class="realm-app__content cbt" layout-fill>
   <div ui-view>
   </div>
</md-content>

