md-toolbar.banner {
    background-color:#B0BEC5;
}

    md-toolbar.banner a {
        background-image: url(../images/REALMBanner.png);
        background-size: contain;
        background-position:74px;
        background-repeat: no-repeat;
        width: 100%;
        height: 60%;

        margin-top: -10px;
    }
    md-toolbar.banner h1 {
        padding:0;
    }