<div class="modal">
    <header class="bar bar-header bar-positive">
        <h1 class="title">New Case</h1>
        <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
    </header>
    <div class="card ui input">
        <form>
            <label for="course">Course</label>  
            <select ng-model="formData.selectedCourseOption" ng-options="co.name for co in formData.courseOptions">
                <option value="">--Choose Course--</option>
            </select>
            
            <label for="type">Type</label>
            <select ng-model="formData.selectedCaseTypeOption" ng-options="cto.name for cto in formData.caseTypeOptions">
                <option value="">--Choose Type--</option>
            </select>
            
            <label for="caption">Caption</label>  
            <input type="text" placeholder="" ng-required ng-model="formData.caption">
            
            <label for="priority">Priority</label>
            <select ng-model="formData.selectedPriorityOption" ng-options="po.name for po in formData.priorityOptions">
                <option value="">--Choose Priority--</option>
            </select>
            
            <label for="assignment">Assignment</label>
            <select ng-model="formData.selectedAssignmentOption" ng-options="ao.name for ao in formData.assignmentOptions | filter:{courseID:formData.selectedCourseOption.id}">
                <option value="">--Choose Assignment--</option>
            </select>
            
            <label for="dueDate">Due Date</label>
            <input type="datetime-local" ng-disabled="" value="{{formData.selectedDueDate | date:&quot;yyyy-mm-dd'T'HH:mm:ss.00&quot;}}"/>
            
            <button class="ui button green half-width" ng-click="createNewCase()">Create</button>
            <button class="ui button red half-width" ng-click="closeModal()">Cancel</button>
        </form>
    </div>
</div>