html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

body {
  font-family: source-sans-pro, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased; }

.tree {
  margin-bottom: 10px; }

.ui-page {
  height: 100%;
  width: 100%; }

.main-content {
  position: absolute;
  top: 44px;
  bottom: 0;
  width: 100%;
  height: calc(100% - 44px - 0);
  background-color: lightgray; }

.container {
  height: 100%;
  width: 100%; }

.experiment {
  display: block;
  height: 100%;
  width: 100%; }

.ui-section {
  display: block;
  height: 100%;
  width: auto;
  float: left; }

ui-section {
  height: 100%;
  float: left; }

.card {
  padding: 10px;
  margin: 10px;
  overflow-y: auto; }

h1, h2, h3, h4, h5, h6 {
  text-align: center; }

.full-width {
  width: 100% !important;
  margin-bottom: 10px !important; }

.half-width:nth-of-type(2n + 1) {
  width: calc(50% - 5px) !important;
  margin-right: 5px !important;
  margin-bottom: 10px !important;
  float: left; }

.half-width:nth-of-type(2n) {
  width: calc(50% - 5px) !important;
  margin-left: 5px !important;
  margin-bottom: 10px !important;
  float: left; }

.ui.buttons .button:first-child {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  float: left; }

.ui.buttons .button:nth-child(2) {
  float: left; }

/***VIEW TRANSITION ANIMATIONS***/
.slideLeft {
  transition-timing-function: ease;
  transition-duration: 500ms; }

.slideLeft.ng-enter {
  transition-property: none;
  transform: translate3d(100%, 0, 0); }

.slideLeft.ng-enter.ng-enter-active {
  transition-property: all;
  transform: translate3d(0, 0, 0); }

.slideLeft.ng-leave {
  transition-property: all;
  transform: translate3d(0, 0, 0); }

.slideLeft.ng-leave.ng-leave-active {
  transition-property: all;
  transform: translate3d(-100%, 0, 0); }

.modal {
  background-color: lightgray;
  padding-top: 44px;
  text-align: center; }
  .modal .card {
    float: none; }
  @media screen and (max-width: 720px) {
    .modal {
      width: 100%; } }
  @media screen and (min-width: 720px) {
    .modal {
      width: calc(100% - 275px);
      left: 275px; } }
  .modal select {
    width: 100%; }
  .modal input {
    border: 1px solid #dddddd;
    padding-left: 5px;
    width: 100%; }
  .modal input[ui-date] {
    height: 32px; }
  .modal .input-label {
    max-width: 100px; }
  .modal .ui-widget.wijmo-wijinput {
    width: 100%; }
  .modal .wijmo-wijinput-trigger {
    padding: 0 !important; }
  .modal .list {
    margin-top: 44px; }

/***BOOTSTRAP MODAL

.modal-open {
overflow: hidden;
}
.modal {
display: none;
overflow: auto;
overflow-y: scroll;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1050;
-webkit-overflow-scrolling: touch;
outline: 0;
}
.modal.fade .modal-dialog {
-webkit-transform: translate(0, -25%);
-ms-transform: translate(0, -25%);
transform: translate(0, -25%);
-webkit-transition: -webkit-transform 0.3s ease-out;
-moz-transition: -moz-transform 0.3s ease-out;
-o-transition: -o-transform 0.3s ease-out;
transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
-webkit-transform: translate(0, 0);
-ms-transform: translate(0, 0);
transform: translate(0, 0);
}
.modal-dialog {
position: relative;
width: auto;
margin: 10px;
}
.modal-content {
position: relative;
background-color: #ffffff;
border: 1px solid #999999;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 6px;
-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
background-clip: padding-box;
outline: none;
}
.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #000000;
}
.modal-backdrop.fade {
opacity: 0;
filter: alpha(opacity=0);
}
.modal-backdrop.in {
opacity: 0.5;
filter: alpha(opacity=50);
}
.modal-header {
padding: 15px;
border-bottom: 1px solid #e5e5e5;
min-height: 16.42857143px;
}
.modal-header .close {
margin-top: -2px;
}
.modal-title {
margin: 0;
line-height: 1.42857143;
}
.modal-body {
position: relative;
padding: 20px;
}
.modal-footer {
margin-top: 15px;
padding: 19px 20px 20px;
text-align: right;
border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
margin-left: 5px;
margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
margin-left: 0;
}
@media (min-width: 768px) {
.modal-dialog {
width: 600px;
margin: 30px auto;
}
.modal-content {
-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-sm {
width: 300px;
}
}
@media (min-width: 992px) {
.modal-lg {
width: 900px;
}
}***/
