<md-dialog aria-label="Gamepad Connected">
  <md-toolbar>
    <h3 class="dialog__title">Gamepad Connected</h3>
  </md-toolbar>
  <md-content style="padding:0; width:600px; height:450px; background-image:url('../realm/images/controller.png')">
    <h3 style="color:white; font-size:24px; font-weight:300; margin-left:32px; margin-top:32px">Deadman = Right Trigger</h3>
  </md-content>
  <!--div class="md-actions" layout="horizontal" layout-align="end">
    <md-button ng-click="cancel()">
      Cancel
    </md-button>
    <md-button class="md-primary" ng-click="answer(vm.newAngleSetName)">
      Okay
    </md-button>
  </div-->
</md-dialog>
