<section class="student-screen" layout="vertical">	
	<div layout="horizontal">
		<md-toolbar class="student-toolbar md-whiteframe-z1">
	    	<div class="student-toolbar__banner-container">
	    	</div>
		</md-toolbar>
	</div>

	<div class="student-content" layout="horizontal" flex>
		<section class="student-content__container md-whiteframe-z1" layout="vertical">
			<div ui-view="main-content" class="student-content__container__ui-view" layout="vertical" flex>

			</div>
		</section>
	</div>
</section>