<form name="signupForm" class="signup-form">
  	<div class="row">
  		<md-text-float label="Name" ng-model="vm.credentials.name" type="text" required></md-text-float>
        <md-text-float label="Email" ng-model="vm.credentials.email" type="email" required></md-text-float>
        <md-text-float label="Password" ng-model="vm.credentials.password" type="password" required></md-text-float>
        <md-text-float label="Confirm Password" ng-model="vm.credentials.confirmPassword" type="password" required></md-text-float>

       	<md-button ng-click="signup()" ng-disabled="signupForm.$invalid || vm.credentials.password !== vm.credentials.confirmPassword" class="login-button md-raised md-primary">Sign Up</md-button>
    </div>
</form>